.hero-image {
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.homepage-photo {
  background-image: url("../../assests/images/AN316.png");
  background-position: 0 -120px; }

.section-header {
  font-size: 34px;
  font-family: 'Tangerine', cursive; }
