.our-names {
  font-size: 72px;
  text-align: center;
  font-family: 'Tangerine', cursive; }

.wedding-date {
  text-align: center;
  font-family: 'Tangerine', cursive;
  font-size: 40px; }

.intro {
  margin: 40px auto 0;
  line-height: 1.5;
  letter-spacing: .05em;
  max-width: 600px;
  font-size: 20px;
  font-weight: 300;
  text-align: justify; }
