.nav {
  position: fixed;
  z-index: 100;
  background-color: transparent;
  top: 20px;
  left: 20px; }

ul {
  padding: 0px; }

.nav li {
  background-color: #ffffff80;
  list-style: none;
  text-align: center;
  padding: 10px 0;
  width: 100px;
  border-bottom: 2px solid black; }

li:hover {
  background-color: #ffffff99; }
